:root {
  --gradient: linear-gradient(45deg, #d946ef, #8b5cf6, #00d2ff);

  --color-pink: #d946ef;
  --color-purple: #8b5cf6;
  --color-cyan: #00d2ff;
}
.gradient {
  font-size: 3em;
  font-weight: bold;
  background-image: linear-gradient(45deg, #d946ef, #8b5cf6, #00d2ff);
  background-clip: text;
  color: transparent;
  background-size: 200% 200%;
  animation: gradientAnim 2s ease infinite;
}
@keyframes gradientAnim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* ==========================================

        BLOCO 1: MOBILE (0px até 767px)

   ========================================== */

.body-createEvent {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante altura mínima de 100% da tela */
}
.main {
  flex: 1;
  width: 100%;
  background-color: white;
}
.container {
  width: 85%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  padding: 110px 15px 30px 15px;
  gap: 30px;
}
.title-group{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-title {
  text-align: center;
  font-size: 1.2em;
}
.main-subtitle {
  text-align: center;
  font-size: 1.1em;
  width: 100%;
  margin: 0px auto;
}
/* ========== Cards ========== */
.card-cadastro {
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.card-register {
  border-radius: 20px;
  background-color: #f6eef6;
  padding: 25px;
}
.title-card {
  font-size: 1.5em;
}
.subtitle-card {
  font-size: 0.8em;
  padding-bottom: 20px;
}
.title-icon {
  padding-right: 10px;
}
.text-title {
  font-weight: 600;
  color: black;
}

/* ==========================================

        BLOCO 2: SETUP & TABLET (768px +)

   ========================================== */
@media (min-width: 1025px) {
  .container {
    max-width: 1280px;
    width: 100%;
    margin: 80px 15px;
    gap: 30px;
  }
  .main-title {
    font-size: 1.5em;
  }
  .main-subtitle {
    font-size: 1.1em;
    margin: 0px auto;
  }
  .card-cadastro {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .card-register {
    width: 30%;
  }
  .title-card {
    display: flex;
  }
}
