footer {
  padding: 15px 0px;
  background-color: white;
  border-top: 1px solid #e4e4e7;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1025px) {
  footer {
    background-color: white;
    border-top: 1px solid #e4e4e7;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
