:root {
  --gradient: linear-gradient(45deg, #d946ef, #8b5cf6, #00d2ff);

  --color-pink: #d946ef;
  --color-purple: #8b5cf6;
  --color-cyan: #00d2ff;
}

/* ==========================================

        BLOCO 1: MOBILE (0px até 1024px)

   ========================================== */
.nav-bar {
  width: 100%;
  min-height: 65px;
  padding: 18px 15px;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid #d6d6d6;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.logo-area {
  width: 100%;
  text-align: center;
}
.img-logo {
  width: 100px;
  height: auto;
}

.btn-header {
  display: none;
}
.btn-header:hover {
  background-position: 100% center;
}
.container-header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

/* ==========================================

        BLOCO 2: SETUP & TABLET (1024px +)

   ========================================== */
@media (min-width: 1024px) {
  .nav-bar {
    height: 75px;
  }
  .container-header {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .logo-area {
    width: 0%;
  }
  .btn-header {
    display: flex;
    font-size: 0.9em;
    background-image: var(--gradient);
    background-size: 200% auto;
    background-position: 0% center;
    transition: background-position 0.5s ease, transform 0.2s ease;
    color: white;
    border: none;
  }
  .btn-header:hover {
    background-position: 100% center;
  }
}
