.title-input{
    display: flex;
    gap: 5px;
}
.icon-input{
    width: 20px;
}
.text-title-input{
    color: black;
    font-size: 0.9em;
    font-weight: 500;

}
input{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 0px 5px;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    border: 1px solid #e4e4e7;
}
